$dark-brown: #775d46;
$light-brown: #c5b697;
$black: #383838;

.bigfoot-container {
  z-index: 10;
  width: 250px;
  height: 260px;
  overflow: hidden;
  border: 10px solid $black;
  border-bottom: none;
  margin: 0 auto;
  margin-top: 165px;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  animation: container 2s linear;
}

@keyframes container {
  0% {
    opacity: 0;
    height: 4%;
  }
  25% {
    opacity: 1;
    height: 4%;
  }
  35% {
    height: 4%;
  }
  50% {
    height: 8%;
  }
  55% {
    height: 5%;
  }
  75% {
    height: 9%;
  }
  80% {
    height: 4%;
  }
  100% {
    height: 35%;
  }
}

.body-container {
  position: absolute;
  top: 30%;
  left: calc(50% - 100px);
}

.ear1,
.ear2 {
  background-color: $dark-brown;
  border: 10px solid $black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  animation: ear 2s linear;
}

@keyframes ear {
  0% {
    height: 0px;
    border: 0;
  }
  25% {
    height: 0px;
    border: 0;
  }
  35% {
    height: 0px;
    border: 0;
  }
  50% {
    border: 0;
    height: 0px;
  }
  55% {
    height: 0px;
    border: 0;
  }
  79% {
    height: 0px;
    border: 0;
  }
  81% {
    border: 10px solid $black;
    height: 50px;
  }
  80% {
    height: 50px;
  }
  100% {
    height: 50px;
  }
}

.ear1::after,
.ear2::after {
  content: "";
  background-color: $light-brown;
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  animation: innerear 2s linear;
}

@keyframes innerear {
  0% {
    height: 0px;
  }
  25% {
    height: 0px;
  }
  35% {
    height: 0px;
  }
  50% {
    height: 10px;
  }
  55% {
    height: 0px;
  }
  75% {
    height: 30px;
  }
  80% {
    height: 30px;
  }
  100% {
    height: 30px;
  }
}

.ear1 {
  left: -3px;
}

.ear1::after {
  top: 10px;
  left: 10px;
}

.ear2 {
  left: 130px;
}

.ear2::after {
  top: 10px;
  left: 10px;
}

.head {
  width: 180px;
  height: 200px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background-color: $dark-brown;
  border: 10px solid $black;
  position: absolute;
  animation: head 2s linear;
}

@keyframes head {
  0% {
    height: 0px;
    border: 0;
  }
  25% {
    height: 0px;
    border: 0;
  }
  35% {
    height: 0px;
    border: 0;
  }
  50% {
    height: 20px;
    border: 10px solid $black;
  }
  55% {
    height: 0px;
  }
  75% {
    height: 50px;
  }
  80% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}

.head::after {
  content: "";
  width: 100px;
  height: 30px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: $light-brown;
  position: absolute;
  bottom: 0;
  left: calc(50% - 50px);
}

.eye-container {
  position: absolute;
  top: 60px;
  left: 10px;
  display: flex;
  flex-direction: row;
  width: 180px;
  justify-content: space-around;
  animation: fadein 2s linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.eye1,
.eye2 {
  background-color: $black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.mouth-container {
  height: 80px;
  width: 100px;
  background-color: $light-brown;
  position: absolute;
  top: 80px;
  border-radius: 50%;
  left: 50px;
  animation: fadein 2s linear;
}

.nose {
  height: 25px;
  width: 40px;
  border-radius: 50%;
  background-color: $black;
  left: 30px;
  position: absolute;
}

.mouth {
  width: 60px;
  height: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 10px solid transparent;
  border-bottom: 10px solid $black;
  position: absolute;
  left: 10px;
  top: 15px;
}

.mouth-line {
  width: 10px;
  height: 30px;
  background-color: $black;
  position: absolute;
  left: 45px;
  top: 20px;
}

.signin-bar {
  width: 250px;
  height: 35px;
  background-color: white;
  border: 10px solid $black;
  border-radius: 15px;
  top: 60%;
  left: calc(50% - 135px);
  position: absolute;
  color: $black;
  font-weight: 900;
  font-size: 24px;
  animation: signinbar 2s linear;
  cursor: pointer;
}

.signin-text {
  padding-top: 3px;
}

.left-paw {
  height: 20px;
  width: 50px;
  background-color: $dark-brown;
  border: 10px solid $black;
  border-radius: 25% 25% 50% 50%;
  position: absolute;
  top: -25px;
  left: 30px;
}

.right-paw {
  height: 20px;
  width: 50px;
  background-color: $dark-brown;
  border: 10px solid $black;
  border-radius: 25% 25% 50% 50%;
  position: absolute;
  top: -25px;
  left: 150px;
}

@keyframes signinbar {
  0% {
    top: 24%;
    opacity: 0;
  }
  25% {
    top: 24%;
    opacity: 1;
  }
  35% {
    top: 24%;
  }
  50% {
    top: 28%;
  }
  55% {
    top: 24%;
  }
  75% {
    top: 35%;
  }
  80% {
    top: 24%;
  }
  100% {
    top: 60%;
  }
}

.signin-form {
  height: 175px;
  width: 250px;
  background-color: white;
  position: absolute;
  top: 60%;
  border: 10px solid $black;
  left: calc(50% - 135px);
  border-radius: 25px;
  animation: signinform 2.5s linear;
  overflow: hidden;
}

@keyframes signinform {
  0% {
    height: 0;
    opacity: 0;
  }
  79% {
    height: 0;
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    height: 175px;
  }
  100% {
    height: 175px;
  }
}

form {
  height: 80%;
  width: 80%;
  padding-top: 20px;
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  border: 3px solid $black;
  margin-top: 5px;
  outline: none;
  width: 100%;
  border-radius: 5px;
  font-weight: 700;
  color: $black;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 900;
  color: $black;
}

.x {
  position: absolute;
  right: calc(50% - 110px);
  top: 175px;
  font-size: 25px;
  font-weight: 900;
  color: $black;
  cursor: pointer;
}
