$cloud-color: #e4eff3;
// $cloud-color: green;

.mountain-container {
  width: 100vw;
}

.single-mountain {
  width: 20vw;
  height: 35vh;
  position: absolute;
  bottom: 20vh;
  border-left: 165px solid transparent;
  border-right: 165px solid transparent;
  border-bottom: 230px solid #7ac1e4;
  z-index: 3;
}

.single-mountain::before {
  content: "";
  position: absolute;
  top: 72px;
  left: 00px;
  border-left: 136px solid transparent;
  border-right: 136px solid transparent;
  border-bottom: 160px solid #ceeaf6;
}

.mountain-cap-1,
.mountain-cap-2,
.mountain-cap-3,
.mountain-cap-4,
.mountain-cap-5,
.mountain-cap-6 {
  position: absolute;
  top: 232px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 40px solid #ceeaf6;
}
.mountain-cap-1 {
  left: 0px;
}
.mountain-cap-2 {
  left: 45px;
}
.mountain-cap-3 {
  left: 90px;
}

.mountain-cap-4 {
  left: 135px;
}

.mountain-cap-5 {
  left: 180px;
}

.mountain-cap-6 {
  left: 225px;
  border-right: 23px solid transparent;
}

.foreground-container {
  width: 100vw;
  height: 20vh;
  background-color: #294958;
  position: absolute;
  bottom: 0;
}

.foreground-left {
  border-bottom: 350px solid #132025;
  border-right: 500px solid transparent;
  z-index: 5 !important;
  position: absolute;
  bottom: 0;
}

.foreground-right {
  border-bottom: 200px solid #132025;
  border-left: 450px solid transparent;
  z-index: 5 !important;
  position: absolute;
  bottom: 0;
  right: 0;
}

.wide-mountain {
  width: 25vw;
  height: 20vh;
  position: absolute;
  right: -10%;
  bottom: 20vh;
  border-left: 305px solid transparent;
  border-right: 405px solid transparent;
  border-bottom: 200px solid #6eafcf;
  z-index: 3;
}

.wide-mountain::before {
  content: "";
  position: absolute;
  top: 39px;
  left: 0px;
  border-left: 171px solid transparent;
  border-right: 171px solid transparent;
  border-bottom: 95px solid #ceeaf6;
}

.wide-cap-1,
.wide-cap-2,
.wide-cap-3,
.wide-cap-4,
.wide-cap-5,
.wide-cap-6 {
  position: absolute;
  top: 133px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 40px solid #ceeaf6;
}

.wide-cap-1 {
  left: 0px;
}
.wide-cap-2 {
  left: 55px;
}
.wide-cap-3 {
  left: 110px;
}

.wide-cap-4 {
  left: 165px;
}

.wide-cap-5 {
  left: 220px;
}

.wide-cap-6 {
  left: 275px;
  border-right: 31px solid transparent;
}

.cloud-bg {
  position: absolute;
  top: 45vh;
  left: 10vw;
}
.cloud-bg::before {
  content: "";
  position: absolute;
  height: 4em;
  width: 4em;
  background-color: $cloud-color;
  bottom: 110%;
  left: 250px;
  border-radius: 50%;
  box-shadow: -200px 20px 0 4em $cloud-color, -290px 100px 0 4em $cloud-color,
    75px 100px 0 5em $cloud-color, 220px 120px 0 5em $cloud-color,
    250px 25px 0 4em $cloud-color, 370px 25px 0 5em $cloud-color,
    400px 125px 0 5em $cloud-color, 500px 50px 0 4em $cloud-color,
    590px 75px 0 4em $cloud-color, 690px 75px 0 3em $cloud-color,
    780px 75px 0 4em $cloud-color, 840px 125px 0 3em $cloud-color;
}
